<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/quora-style.css">
</head>
<body>
    <center>
        <div class="post"> <h1>Make Changes To Your Post</h1>
        <h1 id="user">@<%=post.username%></h1>
        <h3>ID : <%=post.id%></h3>
    <form action="http://localhost:3030/quora/<%=post.id%>?_method=PATCH" method="post">
        <label for="content">Content :</label>
            <textarea name="content" id="content" value="<%=post.content%>"></textarea>
            <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button>Submit</button>
        </center></div>
    </form>
</body>
</html>