<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/quora-style.css">
</head>
<body>
    <center><h1 id="h1">Post Details</h1></center>
    <div class="post">
        <h2 class="user">@<%=post.username%></h2>
        <h2 >Post ID :<%=post.id%></h2>
        <h5 class="content"><%=post.content%></h5>
        <button><a href="http://localhost:3030/quora" style="color:black">Go Back</a></button>
        </div>
</body>
</html>