<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/quora-style.css">
</head>
<body><center><div class="post">
    <form action="http://localhost:3030/quora/<%=post.id%>?_method=DELETE" method="post">
        <h1>@<%= post.username%></h1>
        <h2>Your ID: <%= post.id %></h2>
        <label for="pass">Enter Password to Delete Post</label>
        <input type="password" id="pass" name="password" placeholder="Your Password">
        &nbsp;&nbsp;
        <button>Confirm</button>
    </form>
    <br>
</div></center>
</body>
</html>