<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form action="http://localhost:3030/quora" method="post">
        <div><center><label for="user">Username  :</label>
            <input type="text" name="username" placeholder="Enter Username" id="user">
            <br><br>
            <label for="content">Description :</label>
            <textarea name="content" placeholder="Post Description..." id="content"></textarea>
            <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button>Submit</button>
        </center></div>
    </form>
</body>
</html>