body{
    background-color: rgb(224, 150, 150);
    border-radius: 20px;
    padding: 15px;
}
.post{
    background: rgba(255, 255, 0, 0.703);
    color: rgb(174, 51, 51);
    border-radius: 20px;
    padding: 10px 10px 10px;
}

.user{
    font-size: 30px;
}

.content{
    color:rgb(17, 60, 2);
    font-size: 20px;
}
#h1{
    text-align: center;
    background-color: rgb(150, 32, 32);
    font-size: 65px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: white;
}