div {
    position: relative;
    padding: 20px;
    border-radius: 120px 20px;
    border: 5px solid purple;
    z-index: 1; /* Ensures the text stays on top */
    margin: 10px;
}

div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-vector/gradient-instagram-social-media-background_23-2150934914.jpg?w=1060&t=st=1726086214~exp=1726086814~hmac=4a936f6e638b5832acb456418015b026f04555435a40ec5554182125cad49cc6");
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;
    border-radius: inherit; /* Ensure border radius matches parent div */
    z-index: -1; /* Ensures the background stays behind the content */
}

div h2,h3,h4,h1,li {
    font-weight: bold;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



